api:
  image: ${MEMPOOL_API_IMAGE}
  container_name: mempool-api-${NETWORK}
  restart: unless-stopped
  depends_on:
    - database
    - electrs
  environment:
    MEMPOOL_NETWORK: ${NETWORK}
    CORE_RPC_HOST: ${CORE_RPC_HOST}
    CORE_RPC_PORT: ${CORE_RPC_PORT}
    CORE_RPC_USERNAME: ${CORE_RPC_USER}
    CORE_RPC_PASSWORD: ${CORE_RPC_PASS}
    ELECTRUM_HOST: electrs
    ELECTRUM_PORT: 50001
    ELECTRUM_TLS_ENABLED: "false"
    DATABASE_HOST: database
    DATABASE_USER: ${DB_USER}
    DATABASE_PASS: ${DB_PASSWORD}
    DATABASE_NAME: ${DB_NAME}
    MYSQL_HOST: database
    MYSQL_PORT: 3306
    MYSQL_DATABASE: ${DB_NAME}
    MYSQL_USER: ${DB_USER}
    MYSQL_PASSWORD: ${DB_PASSWORD}
  volumes:
    - ./mempool-config.json:/backend/mempool-config.json:rw
    - ${API_DATA_DIR}:/backend/cache
  ports:
    - "${HOST_BIND_PREFIX}${API_PORT}:8999"
  networks:
    - ${MEMPOOL_NETWORK_NAME}
