database:
  image: ${MEMPOOL_DB_IMAGE}
  container_name: mempool-db-${NETWORK}
  restart: unless-stopped
  environment:
    MYSQL_DATABASE: ${DB_NAME}
    MYSQL_USER: ${DB_USER}
    MYSQL_PASSWORD_FILE: /run/secrets/${DB_PASSWORD_SECRET_NAME}
    MYSQL_ROOT_PASSWORD_FILE: /run/secrets/${DB_ROOT_PASSWORD_SECRET_NAME}
  secrets:
    - source: ${DB_PASSWORD_SECRET_NAME}
    - source: ${DB_ROOT_PASSWORD_SECRET_NAME}
  volumes:
    - ${MYSQL_DATA_DIR}:/var/lib/mysql
  networks:
    - ${MEMPOOL_NETWORK_NAME}
