electrs:
  image: ${MEMPOOL_ELECTRS_IMAGE}
  container_name: electrs-${NETWORK}
  restart: unless-stopped
  depends_on:
    - database
${BITCOIND_DEPENDS_LINE}
  environment:
    ELECTRS_NETWORK: ${NETWORK}
    ELECTRS_BLOCKCHAIN_DIR: /data/bitcoin
    CORE_RPC_HOST: ${CORE_RPC_HOST}
    CORE_RPC_PORT: ${CORE_RPC_PORT}
    CORE_RPC_USER: ${CORE_RPC_USER}
    CORE_RPC_PASS: ${CORE_RPC_PASS}
  volumes:
    - ${ELECTRS_DATA_DIR}:/data
    - ${BITCOIN_DATA_DIR}:/data/bitcoin:ro
  ports:
    - "${ELECTRS_PORT}:50001"
  networks:
    - ${MEMPOOL_NETWORK_NAME}
