electrs:
  image: ${MEMPOOL_ELECTRS_IMAGE}
  container_name: electrs-${NETWORK}
  restart: unless-stopped
  depends_on:
    - database
${BITCOIND_DEPENDS_LINE}
  entrypoint:
    - electrs
  command:
    - --network=${NETWORK}
    - --daemon-dir=/data/bitcoin
    - --daemon-rpc-addr=${CORE_RPC_HOST}:${CORE_RPC_PORT}
    - --cookie=/data/bitcoin/${ELECTRS_COOKIE_PATH}
    - --db-dir=/data/db
    - --electrum-rpc-addr=0.0.0.0:50001
    - -vv
  volumes:
    - ${ELECTRS_DATA_DIR}:/data
    - ${BITCOIN_DATA_DIR}:/data/bitcoin:ro
  ports:
    - "${HOST_BIND_PREFIX}${ELECTRS_PORT}:50001"
  networks:
    - ${MEMPOOL_NETWORK_NAME}
