${NETWORK_CONFIG}
rpcuser=${RPC_USER}
rpcpassword=${RPC_PASS}
rpcbind=0.0.0.0
${RPC_ALLOW_LINES}
rpcport=${RPC_PORT}
server=1
txindex=1
zmqpubrawblock=tcp://0.0.0.0:28332
zmqpubrawtx=tcp://0.0.0.0:28333
${BITCOIND_EXTRA_LINES}
