{
  "MEMPOOL": {
    "NETWORK": "${NETWORK}",
    "BACKEND": "electrum"
  },
  "CORE_RPC": {
    "HOST": "${CORE_RPC_HOST}",
    "PORT": ${CORE_RPC_PORT},
    "USERNAME": "${CORE_RPC_USER}",
    "PASSWORD": "${CORE_RPC_PASS}"
  }
}
