{
  "MEMPOOL": {
    "NETWORK": "${NETWORK}",
    "BACKEND": "electrum"
  },
  "CORE_RPC": {
    "HOST": "${CORE_RPC_HOST}",
    "PORT": ${CORE_RPC_PORT},
    "USERNAME": "${CORE_RPC_USER}",
    "PASSWORD": "${CORE_RPC_PASS}",
    "COOKIE": ${CORE_RPC_COOKIE},
    "COOKIE_PATH": "${CORE_RPC_COOKIE_PATH}"
  },
  "ELECTRUM": {
    "HOST": "${ELECTRUM_HOST}",
    "PORT": 50001,
    "TLS_ENABLED": false
  },
  "DATABASE": {
    "HOST": "database",
    "PORT": 3306,
    "USERNAME": "${DB_USER}",
    "PASSWORD": "${DB_PASSWORD}",
    "NAME": "${DB_NAME}"
  }
}
