name: Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Tarball artifacts
        run: |
          tar -czf mempool-stack.tar.gz .
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: mempool-stack
          path: mempool-stack.tar.gz
